.footer {
    background-color: #3e79f973;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}