.container {
  width: 100%;
  max-width: 100vw;
  padding: 0 10vw;
  box-sizing: border-box;
}

.img-body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* centraliza */
}

.img-body img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}