body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.SignUpContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.labelLogin {
    padding-left: 15px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -10px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

button:hover {
    background-color: #333;
}